
body, html {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #f3f2ee;
    scroll-behavior: smooth;
}

.container {
    width: 950px;
    margin: 0 auto;
}

/* Header */
.header {

    height: 140px;
}

.header_sec {
    display: flex;
    justify-content: space-between;

    height: 140px;
    margin: auto 0;
}

.header_logo {
    height: fit-content;
    margin: auto 0;

    

}

.header_logo--name {
    font-size: 12px;
    font-family: "Verdana";
    color: rgb(209, 67, 67);
    text-transform: uppercase;
    margin-bottom: -8px;
}

.header_logo--logo {
    font-size: 50px;
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;
    color: rgb(140, 140, 140);
    text-transform: uppercase;
    text-decoration: underline;

    
}


  



/* Section */
.section {
    margin-top: 60px;
}

.section_head {
    font-size: 40px;
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;
    color: rgb(209, 67, 67);
    text-transform: uppercase;


}

.section_head:after {
    content: "";
    display: block;

    width: 100%;
    height: 3px;
    background-color: #dfdedc;
    margin-bottom: 15px;
}
  


/* Nav */
.nav {
    display: flex;
    height: fit-content;
    margin: auto 0;
}

.nav_item {
    margin-right: 15px;
    
    font-size: 22px;
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;
    color: #bebebe;
    
    text-transform: uppercase;
    text-decoration: none;

    transition: .2s color rgb(140, 140, 140), 
    0.2s underline;
}

.nav_item:hover {
    color: rgb(140, 140, 140);
    text-decoration: underline;
}


/* Hello */


.hello_text {
    font-size: 60px;
    font-family: "Myriad Pro";
    color: rgb(140, 140, 140);
    line-height: 1;
    text-align: center;

    margin-top: 60px;

}

.hello_text span {
    font-weight: 500;
}



/* Colums */
.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col--item {
    width: 48%;
}

.about {
    display: flex;
}


/* About */
.about {
    display: flex;
}

.about_img {
    margin-right: 15px;
}

.about_img img {
    width: 100%;
    min-width: 100px;
}
  
.about_text {
    font-size: 12px;
    font-family: "Verdana";
    color: rgb(140, 140, 140);
    line-height: 1.417;
}

/* Skills */
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills--col {
    width: 48%;
}

.skills_head {
    font-size: 24px;
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;
    color: rgb(140, 140, 140);
    text-transform: uppercase;
    margin-top: -5px;
}

.skills_text {
    font-size: 12px;
    font-family: "Verdana";
    color: rgb(140, 140, 140);
    line-height: 1.3;

}

.skills_text li:before {
    content: "•";
    color: #dc6565;
    padding-right: 5px;

    font-size: 15px;

}

.skills_text ul {
    padding-left: 3px;
    margin-top: 5px;
    list-style: none;
}


/* Works */
.works {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    flex-wrap: wrap;
}

.works_item {
    width: 23.5%;

    margin-top: 15px;
}

.works_item--img {
    width: 100%;
    z-index: 2;
    box-shadow: 0px 4px 15px -6px #000;;
    /*box-shadow: -6px 0px 11px -7px #000000, 7px 0px 5px -8px #000000, -1px -11px 6px 5px rgb(0 0 0 / 0%);*/
}

.works_item--title {
    font-size: 12px;
    font-family: "Verdana";
    color: rgb(140, 140, 140);

    text-align: center;

}


  

.works_nav {
    text-align: right;
    margin-top: -40px;

    
}

.works_nav--item {
    text-decoration: none;
    font-size: 11px;
    font-family: "Verdana";
    color: rgb(140, 140, 140);
    text-transform: uppercase;
    padding-left: 10px;
}

.works_nav--item:hover {
    color: #dc6565;
}


/* Contacts */
.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts_title {
    font-size: 24px;
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;
    color: rgb(140, 140, 140);
}

.contacts--col {
    width: 48%;
}

.contacts_label {
    font-size: 12px;
    font-family: "Verdana";
    color: rgb(140, 140, 140);

    margin-top: 10px;
}

.contacts_input {
    background-color: rgb(232, 232, 232);
    border: 0;
    box-shadow: 0.707px 0.707px 0px 0px rgba(255, 255, 255, 0.4),inset 0.707px 0.707px 0px 0px rgba(0, 0, 0, 0.2);
    width: 98%;
    height: 33px;
    margin-top: 5px;
}

.contacts_input.message {
    max-width: 98%;
    height: 121px;
    max-height: 250px;
}

.contacts_send--btn {
    width: 105px;
    height: 41px;

    margin-top: 20px;

    font-size: 24px;
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;
    color: rgb(255, 255, 255);

    background-color: #d67575;

    border: 0;
    cursor: pointer;
}

.contacts_send--btn:hover {
    background-color: #dc6565;
}

.contacts_img {
    margin-top: 15px;
}

.contacts_info--title {
    font-size: 12px;
    font-family: "Verdana";
    font-weight: bold;
    color: rgb(140, 140, 140);

    margin: 10px 0 8px;
}

.contacts_info--text {
    font-size: 11px;
    font-family: "Verdana";
    color: rgb(140, 140, 140);

    line-height: 1.545;

}

.contacts_info--text a {
    color:#dc6565;
}  

.contacts_img {
    width: 60%;
}

.contacts_img--img {
    width: 100%;
}


.contacts_info {
    width: 36%;
}

.alert-message {
    color: #dc6565;

    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
}

.not-valid {
    border: 1px solid #dc6565 !important;
}

/* Footer */
.footer {
    margin: 40px 0 60px;
}

.footer_copywright {
    font-size: 11px;
    font-family: "Verdana";
    color: rgb(140, 140, 140);

    margin-top: -10px;
}

.footer_copywright a {
    color:#dc6565;
}


/* Modal */
#modal {
    left:0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 999;
    position: fixed;
    
}

#modal .overlay {
    background-color: rgb(0 0 0 / 0.3);

    height: 100%;
    width: 100%;

    position: absolute;
}

#modal .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: fit-content;
    background-color: white;
    margin: auto;

    border-radius: 5px;
    padding: 15px;
    transform: translate(-50%, -50%);
   
}

.modal_title {
    font-size: 24px;
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;
    color: rgb(209, 67, 67);
    text-transform: uppercase;
    margin-top: -5px;
    text-align: center;
    padding-top: 15px;
}
  

.modal_text {
    padding-top: 15px;
    
    font-size: 15px;
    font-family: "Verdana";
    color: rgb(140, 140, 140);
    line-height: 1.3;

    word-wrap: break-word;
}

.modal-text span {
    font-weight: 700;
}

.modal_btn {
    width: 60px;
    height: 35px;

    margin-top: 10px;

    font-size: 20px;
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;
    color: rgb(255, 255, 255);

    background-color: #d67575;

    border: 0;
    cursor: pointer;
}

#modal button:hover {
    background-color: #dc6565;
}




@media (max-width:990px) {
    .container {
        width: 96%;
    }

    .hello_text {
        font-size: 50px;
    }

    .works_item {
        width: 32%;
    }


    .contacts_info--text a {
        overflow-wrap: break-word;
    } 

    #modal .content {
        width: 40%;
        height: fit-content;
    }

    

}


@media (max-width: 770px) {
    .header {
        height: 80px;
    }

    .hello_text {
        font-size: 40px;
    }
    
    .col--item {
        width: 100%;
        margin-top: 30px;
    }

    .works_item {
        width: 48%;
    }
}

  
@media (max-width: 550px) {
    .header_logo--logo {
        font-size: 35px;
    }

    .header_logo--name {
        margin-bottom: -5px;
    }


    .nav {
        display: none;
    }

    .about {
        flex-wrap: wrap;
    }


    .about_img {
        width: 80%;
        margin: 0 auto 10px;
    }

    .about_text {
        font-size: 14px;
    }

    .skills--col {
        width: 98%;
        margin-top: 15px;
    }

    .skills_head {
        font-size: 30px;
    }
    
    .skills_text {
        font-size: 16px;
        line-height: 1.5;
    }

    .contacts_title {
        font-size: 30px;
    }

    .contacts--col {
        width: 100%;
    }

    .contacts_label {
        font-size: 15px;
    }

    .hello_text {
        font-size: 35px;
    }

    .works_item {
        width: 96%;
    }

    #modal .content {
        width: 60%;
        height: fit-content;
    }

}



  
  

  





